[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=BmTOP
Comment=ver0.5
Exec=
Icon=/home/mizuki/Documents/Atom_workspace/BmTOP/programs_KWMTBOMO/BmTOP_icon.png
Comment[ja_JP.eucJP]=ver1.0
